

.customer.account {
  padding-top: 87px;
  padding-bottom: 100px;
}

.account-header {
  text-align: center;
  margin-bottom: 4rem;
}

.account-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 0 auto 2rem;
}
.customer__title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 43.88px;
  color: rgba(0, 0, 0, 1);
  border: none;
}
.account-email {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 21.94px;
  color: rgba(0, 0, 0, 1);
}

a.account-logout {
  color: #666;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-top: 28px;
}

a.account-logout svg ,
a.account-logout .svg-wrapper{
  width: 25px;
  height: 25px;
}

a.account-logout span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 17.07px;
  color: rgba(128, 128, 128, 1);
}

.account-cards {
  display: flex;
  gap: 31px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center; 
  flex-wrap: wrap;
}

.account-cards .account-card {
  width: 320px;
  height: 190px;
  border-radius: 9.79px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 4px  rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid #FFF;
}

.account-cards .account-card:hover {
  border-color: rgba(0, 0, 0, 1);
}

.account-card__icon img {
  width: 50px;
  height: 53px;
}

.account-card:hover {
  transform: translateY(-5px);
}

.account-card__icon {
  margin-bottom: 1rem;
}

.account-card__icon svg {
  width: 32px;
  height: 32px;
  fill: none;
  stroke: currentColor;
}

.account-card__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 24.38px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.account-card__desc {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 14.63px;
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 749px) {
  .customer.account {
    padding-top: 10.8vw;
    padding-bottom: 30.8vw;
  }
  .account-avatar {
    width: 10.66vw;
    height: 10.66vw;
    margin: 0 auto 2.66vw;
    font-size: 4.8vw;
  }
  .account-header {
    margin-bottom: 10.93vw;
  }
  h1.customer__title {
    font-size: 4.8vw;
    margin-bottom: 0;
    margin-top: 0;
    line-height: normal;
    padding-bottom: 3.2vw;
  }
  .account-email {
    font-size: 3.2vw;
  }
  a.account-logout span {
    font-size: 2.4vw;
  }
  a.account-logout {
    margin-top: 5.33vw;
  }
  a.account-logout svg, a.account-logout .svg-wrapper {
    width: 3.46vw;
    height: 3.46vw;
  }
  .account-cards {
    gap: 3.2vw;
  }
  .account-cards .account-card {
    width: 77.33vw;
    height: 25.33vw;
  }
  .account-card__icon img {
    width: 6.66vw;
    height: 7.06vw;
  }
  .account-card__icon {
    width: 6.66vw;
    height: 6.66vw;
    margin-bottom: 0;
  }
  h2.account-card__title {
    font-size: 2.66vw;
    margin-top: 2vw;
    margin-bottom: 0.4vw;
    line-height: normal;
  }
  .account-card__desc {
    font-size: 1.6vw;
    
  }
}
