
/* 菜单图片 */

.mega-menu__container {
  display: flex;
  align-items: flex-start;
  gap: 85px;
  padding: 0 74px;
}

.mega-menu__list {
  flex: 1;
  min-width: 0;
  padding-left: 0;
}

.mega-menu__list a {
  font-size: 20px;
  font-weight: 600;
}
.mega-menu__list .list-unstyled a {
  font-weight: 400;
}
.mega-menu__image {
  width: 450px;
  height: 300px;
  flex-shrink: 0;
}

.mega-menu__feature-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.mega-menu__image-link:hover .mega-menu__feature-image {
  transform: scale(1.05);
}

/* 菜单图片结束 */

.mega-menu {
  position: static;
}

.header-wrapper .list-menu .mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: absolute;
  right: 0;
  top: 100%;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
  margin: auto;
  max-width: 1397px;
}
details:hover {
  cursor: pointer;
}
.mega-menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  flex: 1;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

.header-wrapper {
  
  background: rgba(0, 0, 0, 0);
}
.section-header {
  z-index: 100 !important;
}
@media screen and (min-width: 990px) {
  .header__inline-menu {
      display: flex;
      justify-content: center;
  }
}

header.header {
  padding-bottom: 0;
  padding-top: 0;
  height: 100px;
}

header.header .header__inline-menu {
  height: 100%;
  line-height: 100px; 
}

.list-menu {
  height: 100%;
}
summary.header__menu-item {
  height: 100px;
  width: 184px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none !important;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
@media screen and (max-width: 1200px) {
  summary.header__menu-item {
    width: auto;
    font-size: 18px;
  }
}
.mega-menu .header__menu-item span {
  color: white !important;
  width: 100%;
}
.header__menu-item {
  transition: .2s;
}
.header__menu-item[aria-expanded=true] {
  background: rgba(0, 0, 0, 1);
}
.header__menu-item[aria-expanded=true] span,
div.scrolled-past-header .header-wrapper .list-menu .header__menu-item[aria-expanded=true] span,
.non-home sticky-header.header-wrapper .list-menu .header__menu-item[aria-expanded=true] span,
.gradient.overflow-hidden sticky-header.header-wrapper .list-menu .header__menu-item[aria-expanded=true] span{
  color: white !important;
}
.header__heading svg {
  fill: white;
}
div.scrolled-past-header .header__heading svg,
.gradient.overflow-hidden .header__heading svg {
  fill: black;
}
div.scrolled-past-header .header__menu-item:hover,
.gradient.overflow-hidden .header__menu-item:hover,
.header__menu-item:hover,
.mega-menu[open] .header__menu-item {
  background: rgba(0, 0, 0, 1);
}
div.scrolled-past-header .header-wrapper .list-menu span,
.gradient.overflow-hidden .header-wrapper .list-menu span,
.non-home sticky-header.header-wrapper .list-menu span{
  color: rgba(0, 0, 0, 1) !important;
}
div.scrolled-past-header .header__menu-item:hover span,
.gradient.overflow-hidden .header__menu-item:hover span,
.header__menu-item:hover span,
details.mega-menu[open] summary.header__menu-item span{
  color: white !important;
  text-decoration: none;
}
.header-wrapper--border-bottom {
  border-bottom: none;
}
.header__menu-item .icon-caret {
  display: none;
}
summary.list-menu__item {
  padding-right: 1.2rem !important;
}

div.scrolled-past-header sticky-header.header-wrapper,
.non-home sticky-header.header-wrapper,
.gradient.overflow-hidden sticky-header.header-wrapper {
  background: white;
  transition: .5s;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
  max-width: none;
}
@media screen and (min-width: 990px) {
  .header--middle-left {
    grid-template-columns: auto;
  }
}

.header-wrapper--border-bottom {
  border-bottom: none !important;
}

@media screen and (max-width: 989px) {
  .mega-menu__image {
    display: none;
  }
  .header__heading-logo-wrapper svg {
    width: 23.2vw;
    height: 6.13vw;
  }
  header.header {
    height: 13.06vw;
  }
  #Details-menu-drawer-container svg {
    width: 6vw;
    height: 4.66vw;
  }
}
