@media screen and (min-width: 769px) {

    .product-info {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    .product-info .page-width {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }

    .product-info .product {
      margin: 0;
      padding: 0;
    }

    .product--thumbnail_slider .thumbnail-slider {
      align-items: self-start;
    }
    .product--thumbnail_slider {
      position: relative;
    }
    .product--thumbnail_slider media-gallery {
      display: flex;
      flex-direction: row;
      gap: 0;
      padding-left: 0;
    }
    .product--thumbnail_slider .slider-mobile-gutter:not(.thumbnail-slider) {
      width: calc(100% - 330px);
      padding-right: 0px;
      padding-left: 30px;
    }
    .product--thumbnail_slider .thumbnail-slider {
      width: 100px;
      padding-left: 0;
      margin-left: 10px;
    }
    .product--thumbnail_slider .slider-button {
      display: none !important;
    }
    .product--thumbnail_slider
      .thumbnail-slider
      .thumbnail-list.slider--tablet-up {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .product--thumbnail_slider
      .thumbnail-slider
      .thumbnail-list.slider--tablet-up
      .thumbnail-list__item.slider__slide {
      width: 100%;
      margin-bottom: 0;
    }
    .product-info .page-width {
      padding-left: 0;
    }
    #MainContent .product-info {
      --page-width-margin: 0;
      margin-left: 0;
    }
    #MainContent .product-info .page-width {
      padding-left: 0;
      margin-left: 0;
    }
    #MainContent .product-info .product__media-wrapper {
      margin-left: 0;
    }
  }