/*
* GG-邮件
*/
.newsletter{
}
.newsletter .newsletter__wrapper{
  padding-top: 127px;
  padding-bottom: 123px;
  background: rgba(233, 233, 233, 1);
}
.newsletter .inline-richtext {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 34px;
  color: rgba(0, 0, 0, 1);
}
.newsletter .field::after {
  content: none;
}
.newsletter .newsletter__subheading {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28.8px;
  color: rgba(0, 0, 0, 1);
}
.newsletter .field__input {
  font-size: 20px;
}
.newsletter .asd {
  display: none;
}
.newsletter .field__label {
  font-size: 20px;
  left: 3.2rem;
  top: 1.4rem;
  color: rgba(0, 0, 0, 1);
}
.newsletter .newsletter-form__button {
  display: none;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 5rem;
}

@media screen and (max-width: 750px) {
  .newsletter-form {
    align-items: flex-start;
    margin: 0 auto;
    max-width: 36rem;
  }
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding: 0 3.2rem;
  height: 5.6rem;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}



.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2.1rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 38.5rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

.newsletter__bottom-content {
  margin-top: 12.9rem;
  width: 100%;
}

.newsletter__features {
  display: flex;
  gap: 8rem;
  margin-top: 30px;
  justify-content: center;
}

.newsletter__feature {
  display: flex;
  align-items: center;
  gap: 31px;
}

.newsletter__feature-icon {
  flex-shrink: 0;
  width: 57px;
  height: 57px;
}

.newsletter__feature-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.newsletter__feature-text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 22px;
  text-align: left;
}

@media screen and (max-width: 989px) {
  .newsletter__features {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 749px) {
  .newsletter__features {
    grid-template-columns: 1fr;
  }
}
