.gg-contact {
  max-width: 78.5rem;
  padding-bottom: 160px !important;
  padding-top: 50px !important;
}

.gg-contact img {
  max-width: 100%;
}

.gg-contact .gg-form__message {
  align-items: flex-start;
}

.gg-contact .icon-success {
  width: 100px;
  display: block;
  margin: 20px auto 20px;
}

/* 表单字段基础样式 */
.gg-field {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-bottom: 3rem;
  
}

.gg-field__input {
  padding: 26px 20px;
  height: 56px;
  border: none;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s ease;
  background: white;
}

.gg-field__label {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28.8px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
  position: relative;
  pointer-events: none;
  transition: all 0.3s ease;
  margin-bottom: 15px;
}
.gg-field__label::after {
  content: ':'
}
.gg-field__input:focus + .gg-field__label,
.gg-field__input:not(:placeholder-shown) + .gg-field__label {
  
}

/* 文本区域特殊样式 */
.gg-text-area {
  min-height: 15rem;
  resize: vertical;
}

.gg-contact__button {
  margin-top: 3rem;
}

.gg-contact__button button {
  width: 100%;
  height: 56px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 28.8px;
  text-transform: uppercase;
}

/* 错误状态样式 */
.gg-field--with-error .gg-field__input {
  border-color: rgba(var(--color-error), 0.4);
}

.gg-contact__field-error {
  color: rgb(var(--color-error));
  font-size: 1.2rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
} 


@media screen and (max-width: 750px) {
  .gg-contact {
    padding: 0 7.6vw 0 9.06vw;
  }
  .gg-contact__fields {
    
  }
  .gg-field__label {
    font-size: 2.4vw;
    margin-bottom: 1.6vw;
    line-height: 2.8vw;
    font-weight: 600;
  }
  .gg-contact__button button {
    height: 10.93vw;
    font-size: 3.2vw;
  }
  .gg-contact__button {
    margin-top: 4.13vw;
  }
  .gg-field__input {
    height: 9.46vw;
    padding: 3.2vw 3.59vw 3.2vw;
    font-size: 2.4vw;
    border: 1px solid rgba(184, 184, 184, 1);
    border-color: rgba(184, 184, 184, 1) !important;
  }
  .gg-field {
    margin-bottom: 4.53vw;
  }
}
