/*
* GG-邮件
*/
.newsletter{
}
.newsletter .newsletter__wrapper{
  padding-top: 127px;
  padding-bottom: 123px;
  /* background: rgba(233, 233, 233, 1); */
  background: #FFF;
}
.newsletter .inline-richtext {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 34px;
  color: rgba(0, 0, 0, 1);
}
.newsletter .field::after {
  content: none;
}
.newsletter .newsletter__subheading {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 28.8px;
  color: rgba(0, 0, 0, 1);
}
.newsletter .field__input {
  font-size: 20px;
}
.newsletter .asd {
  display: none;
}
.newsletter .field__label {
  font-size: 20px;
  left: 3.2rem;
  top: 1.4rem;
  color: rgba(0, 0, 0, 1);
}
.newsletter .newsletter-form__button {
  display: none;
}
.newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 5rem;
}

.newsletter-form__field-wrapper {
  width: 100%;
}

.newsletter-form__field-wrapper .field__input {
  padding: 0 3.2rem;
  height: 5.6rem;
  border: 1px solid #000;
}

.newsletter-form__field-wrapper .field {
  z-index: 0;
}

.newsletter-form__message {
  justify-content: center;
  margin-bottom: 0;
}

.newsletter-form__message--success {
  margin-top: 2rem;
}

@media screen and (min-width: 750px) {
  .newsletter-form__message {
    justify-content: flex-start;
  }
}

.newsletter-form__button {
  width: 4.4rem;
  margin: 0;
  right: var(--inputs-border-width);
  top: 0;
  height: 100%;
  z-index: 2;
}

.newsletter-form__button:focus-visible {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:focus {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0 0.4rem rgba(var(--color-foreground));
  background-color: rgb(var(--color-background));
}

.newsletter-form__button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.newsletter-form__button .icon {
  width: 1.5rem;
}



.newsletter__wrapper {
  padding-right: calc(4rem / var(--font-body-scale));
  padding-left: calc(4rem / var(--font-body-scale));
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding-right: 9rem;
    padding-left: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2.1rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 38.5rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}

.newsletter__bottom-content {
  margin-top: 12.9rem;
  width: 100%;
}

.newsletter__features {
  display: flex;
  gap: 8rem;
  margin-top: 30px;
  justify-content: center;
}

.newsletter__feature {
  display: flex;
  align-items: center;
  gap: 31px;
}

.newsletter__feature-icon {
  flex-shrink: 0;
  width: 57px;
  height: 57px;
}

.newsletter__feature-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.newsletter__feature-text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 22px;
  text-align: left;
}

/* 移动端按钮样式 */
.newsletter-button-mobile {
  display: none; /* 默认隐藏 */
  width: 100%;
  height: 54px;
  background: #000;
  color: #FFF;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.newsletter-button-mobile:hover {
  background: #333;
}

@media screen and (max-width: 749px) {
  .newsletter-button-mobile {
    width: 38.8vw;
    height: 10.4vw;
    font-size: 3.2vw;
    display: block; /* 在移动端显示 */
    margin-top: 7.19vw;
    padding: 0 6.4vw;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .newsletter-button-mobile svg {
    width: 1.46vw;
    height: 1.73vw;
  }
  .newsletter-button-mobile svg path {
    fill: #FFF;
  }
}

@media screen and (max-width: 750px) {
  .newsletter-form {
    align-items: center;
    margin: 0 auto;
    max-width: 80vw;
  }
  .newsletter .newsletter__wrapper {
    padding-top: 0;
    background: rgba(240, 240, 240, 1);
    padding: 0 10% 12.4vw;
  }
  .newsletter .inline-richtext {
    font-size: 6.4vw;
  }
  .newsletter .newsletter__subheading {
    margin-top: 4vw;
    font-size: 2.66vw;
    padding: 0 5vw;
  }
  .newsletter__wrapper .newsletter-form__field-wrapper {
    max-width: 80vw;
  }
  .newsletter-form__field-wrapper .field__input {
    height: 10.66vw;
    min-height: 10.66vw;
    font-size: 4.8vw;
  }
  .newsletter .field__label {
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 4.8vw;
    font-weight: 400;
    letter-spacing: 0px;
    color: rgba(121, 121, 121, 1);
    display: flex;
    align-items: center;
  }
  .field__input:focus ~ .field__label,
  .field__input:not(:placeholder-shown) ~ .field__label,
  .field__input:-webkit-autofill ~ .field__label,
  .customer .field input:focus ~ label,
  .customer .field input:not(:placeholder-shown) ~ label,
  .customer .field input:-webkit-autofill ~ label {
    display: none;
  }
  .gg-email-arrow {
    display: none;
  }
  .gg-newletter-form__wrapper {
    margin-top: 3.86vw;
  }
  .newsletter__feature {
    gap: 4.13vw;
  }
  .newsletter__feature-icon {
    width: 7.19vw;
    height: 7.19vw;
  }
  .newsletter__feature-text {
    width: 28vw;
    font-size: 2.4vw;
    font-weight: 400;
  }
  .newsletter__features {
    flex-wrap: wrap;
    flex-direction: initial;
    gap: 7.19vw 0;
  }
  .newsletter__bottom-content {
    margin-top: 17.2vw;
  }
}
